/* SCREEN */
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* HEADER */
.header {
    font-size: xx-large;
    text-align: center;
    padding: 10px;
    text-decoration: solid;
    z-index: 100;
}

/* STATS */
.stats {
    text-align: center;
}

/* MAIN CONTENT */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

/* CARD CONTAINER */
.cardContainer {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap:10px;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 10px;
    z-index: 100;
}